requests==2.31.0
pandas
#aiohttp==3.8.5
ragas
langchain
langchain-openai
langchain-ollama
Pillow
langchain-community
openai
# q_a_generation dependencies
scikit-learn
numpy
spacy
scispacy
langfuse
# Install SciSpacy model separately:
# pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz